@import url("fonts.css");
html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* Header content begins here */
.header {
    position: relative;
    background-size: cover;
    background-color: #ce4283;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CE4283, endColorstr=#B2455D);
    background-image:         -webkit-gradient(linear, left top, left bottom, from(#ce4283), to(#b2455d));
    background-image:         linear-gradient(to bottom, #ce4283 0%, #b2455d 100%);
    background-image:      -o-linear-gradient(to bottom, #ce4283 0%, #b2455d 100%);
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #ce4283), color-stop(100%, #b2455d));
    height: 650px;
    width: 100%;
    z-index: 100000;
}
.header .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-image: url("../images/hero-img@2x.png");
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}
.header .arrDwn {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}

.topmost {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 10000000;
}
.topmost img {
    width: 75px;
    height: 95px;
    margin-left: 40px;
    margin-top: 40px;
}
.topmost p {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    letter-spacing: 2px;
    right: 35px;
    top: 35px;
}

/* wrapper content */
.wrapper {
    clear: both;
    width: 100%;
    background-color: #626a74;
}

/* Search box section starts here */
.searchSec {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #333441;
}
.searchSec input {
    position: relative;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 26px;
}
.searchSec input[type="text"] {
    width: 40%;
    margin: 0 auto;
    height: 26px;
    font-family: "Raleway Medium", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #636363;
    padding-left: 22px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
.searchSec button {
    position: relative;
    background-color: #d05d84;
    line-height: 40px;
    border: 1px solid #cccccc;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 24px;
    margin-left: -130px;
    height: 44px;
    width: 120px;
}

/* result section begins here */
.resultBg {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 400px;
    background-color: #383a49;
}

/* Masking the result section */
.resultSec {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 400px;
    padding-top: 50px;
    display: block;
}

.ReLoop {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-left: 70px;
    list-style-type: none;
}
.ReLoop li {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 330px;
    border-radius: 5px;
    margin: 15px;
    -webkit-box-shadow: 0 0 5px 2px #333333;
            box-shadow: 0 0 5px 2px #333333;
}
.ReLoop li .cardResult {
    position: relative;
    width: 100%;
    height: 270px;
    z-index: 10;
}
.ReLoop li .cardResult:hover .imgRes {
    -webkit-filter: blur(7px);
            filter: blur(7px);
}
.ReLoop li .cardResult:hover .showClick {
    bottom: 0;
    height: 100%;
    opacity: .8;
}
.ReLoop li .cardResult:hover .clipOval {
    display: none;
}
.ReLoop li .cardResult .imgRes {
    position: relative;
    width: 100%;
    height: 270px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* categorising for artist and album */
.clipOval {
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: .8;
}

/* for image overlay on hover */
.showClick {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    width: 103%;
    height: 0;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    right: 0;
    top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
.showClick img {
    margin-top: 30%;
}
.showClick h3 {
    margin-top: 0;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

/* defining the card description */
.cardName {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    height: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Magnify display */
.MagDis {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    font-family: "Raleway Thin", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #cccccc;
    background-color: #383a49;
    min-height: 360px;
    text-align: center;
    padding-top: 50px;
}
.MagDis h3 {
    opacity: .2;
}

/* The Footer section start here */
.footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #333441;
    font-family: "Raleway Light", sans-serif;
    font-size: 15px;
}
.footer div {
    margin: 0 auto;
    color: #ffffff;
    padding: 25px 0;
}
.footer div p {
    display: inline;
}
.footer div p:nth-child(1):after {
    content: " -";
}
@media screen and (min-width: 320px) and (max-width: 780px) {
    .header .hero {
        height: 700px;
        background-size: 100%;
    }
    .header {
        height: 700px;
        background-size: 100%;
    }
    .topmost {
        padding-top: 20px;
    }
    .topmost img {
        width: 40px;
        height: 50px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .topmost p {
        letter-spacing: 0;
        right: 30px;
        top: 30px;
    }
    .searchSec input[type="text"] {
        width: 80%;
        height: 35px;
    }
    .searchSec button {
        font-family: "Raleway Semi", sans-serif;
        margin: 10px auto;
        width: 60%;
        border: 0;
        height: 55px;
        font-size: 22px;
    }
    .resultBg {
        display: none;
    }
    .MagDis {
        display: none;
    }
    .footer {
        height: 110px;
    }
    .footer div p:nth-child(1):after {
        content: " ";
    }
    .footer div p {
        font-family: "Raleway Semi", sans-serif;
        display: block;
        margin: 10px auto;
        width: 100%;
        clear: both;
    }
}
